:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

.container {
  margin-top: 50px;
  max-width: 900px;
  margin-inline: auto;
}

nav {
  display: flex;
  justify-content: end;
}

a {
  color: black;
  text-decoration: none;
}

.nav-link {
  display: block;
  transform-origin: center;
  transition-duration: .2s;
}

.nav-link:hover {
  color: goldenrod;
  transform: scale(1.05);
}

.nav-ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

ul,
li {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  list-style: none;
}

.main {
  min-height: 500px;
  margin-top: 100px;
}

.footer {
  color: white;
  margin-top: 100px;
  padding: 50px;
  background-color: black;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 10px;
  padding-bottom: 30px;
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: aliceblue;
}

.tr{
  width: 100%;
  cursor: pointer;
}

.tr:hover{
  color: goldenrod;
}

button{
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition-duration: .1s;
}

.action{
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.red-btn{
  background-color: salmon;
}
.red-btn:hover{
  background-color: tomato;
}

.simple-btn{
  background-color: rgb(112, 169, 169);
}
.simple-btn:hover{
  background-color: rgb(0, 148, 148);
}
.add{
  margin-inline: auto;
  max-width: 600px;
}

.add-supplier-h1{
  text-align: center;
}